*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding-top: 27px;
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  color: #656566;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.animated-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fafaf5;
}

.animated-text {
  position: relative;
  display: inline-block;
  padding-left: 100%;
  font-weight: 200;
  animation: scrolltext 30s linear infinite;
}

@keyframes scrolltext {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header {
  display: flex;
  padding-block: 5px;
  padding-inline: 0;
  margin-inline: 0;
  margin-bottom: 40px;
  font-size: medium;
  background-color: #dbdde0;
}

.container {
  max-width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
  text-align: center;
}

.container p {
  display: flex;
  margin-inline: 10px;
  margin-bottom: 0;
  color: #656566;
}

.container p a:link {
  color: #656566;
}

.container p a:visited {
  color: #656566;
}

.container p a:hover {
  color: #dbdde0;
  transition: all 200ms ease-out;
  animation-duration: 5s;
}

.about h2 {
  margin-top: 10px;
}

.about h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.about h4 {
  margin-top: 20px;
}

.about p {
  padding-inline: 100px;
  margin-inline: 50px;
  margin-top: 30px;
}